//
// Config
// ----------------------------------------------------------------------------------------------------


// Colors
$brand-primary:                                 darken(#428bca, 6.5%);


// Fonts
$font-family-sans-serif:                        "Helvetica Neue", Helvetica, Arial, sans-serif;


// Metrics
$grid-gutter-width:                             30px;
$section-spacer:                                60px;


// ----------------------------------------------------------------------------------------------------


// Common base properites
$border-radius-base:                            4px;
$border-radius-small:                           3px;
$border-radius-large:                           6px;


// Body
$html-bg:                                       #000;
$body-bg:                                       #fff;


// Text
$text-color:                                    #555;
$font-size-base:                                16px;
$line-height-base:                              1.5;
$font-family-base:                              $font-family-sans-serif;


// Links
$link-color:                                    $brand-primary;
$link-hover-color:                              tint($link-color, 37.5%);
$link-hover-decoration:                         none;


// Headings
$headings-color:                                inherit;
$headings-font-family:                          $font-family-sans-serif;
$headings-font-weight:                          500;
$headings-line-height:                          1.125;

$font-size-h1:                                  36px;
$font-size-h2:                                  30px;
$font-size-h3:                                  24px;
$font-size-h4:                                  20px;
$font-size-h5:                                  18px;
$font-size-h6:                                  16px;


// ----------------------------------------------------------------------------------------------------


// Buttons
$btn-font-weight:                               400;

$btn-default-color:                             #333;
$btn-default-bg:                                #fff;
$btn-default-border:                            #ccc;

$btn-primary-color:                             #fff;
$btn-primary-bg:                                $brand-primary;
$btn-primary-border:                            $brand-primary;