//
// Footer
// ----------------------------------------------------------------------------------------------------


.page-footer {
    padding-top: $section-spacer;
    padding-bottom: $section-spacer;
    background-color: $html-bg;
    color: #fff;
    text-align: center;
}


// Copyright
.copyright {
    
}