//
// Posts
// ----------------------------------------------------------------------------------------------------


.posts {
    
}

.post {
    position: relative;
    
    &:not(:last-child) {
        margin-bottom: $section-spacer;
    }
}

.post-inner {
    
}

.post-thumbnail {
    
}

.post-title {
    
}

.post-author {
    
}

.post-date {
    
}

.post-excerpt {
    
}

.post-body {
    
}

.post-links {
    
}

.post-permalink {
    
}

.post-comments-link {
    
}

.post-comments-form {
    
}

.post-comments {
    ul {
        margin: 0;
        padding: 0;
    }
}